<!DOCTYPE html>
<html lang="en">
<head>
  <title>Error 404 - Page Not Found</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
   <% if (error) { %>
        <div class="alert alert-error alert-dismissible" role = "alert">
       <button type = "button" class="close" data-dismiss = "alert">x</button>
        <%= error %>
          </div>
    <% } %>
  <div class="error-container">
    <div class="error-code">404</div>
    <div class="error-message">Oops! Page not found.</div>
    <div class="error-link"><a href="/">Go back to Home</a></div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>