<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskGojo</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header> 
        <div class="container row">
            <button class="nav-toggle" aria-label="open navigation">
                <span class="hamburger"></span>
            </button>
            <a class="logo" href="#">
                <img src="img/logo.svg" alt="conquering responsive layouts">
            </a>
            <nav class="nav">
                <ul class="nav__list nav__list--primary">
                    <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                </ul>
                <ul class="nav__list nav__list--secondary">
                    <li class="nav__item"><a href="/api/login" class="nav__link">Log In</a></li>
                    <li class="nav__item"><a href="/api/signup" class="nav__link nav__link--button">Sign up</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section class="hero">
        <div class="container row">
            <div class="hero__text">
                <h1>Your task don’t have to be a struggle</h1>
                <p>TaskGojo is a digital task management platform that helps users organize and keep track of their daily tasks and responsibilities. Users can create, edit, and mark tasks as completed, providing an efficient way to manage their schedules and increase productivity.</p>
                <a href="#" class="btn">JUST DO IT</a>
            </div>
            <img src="../public/img/hero-img.jpg" alt="UX design sketches" class="hero__img">
        </div>
    </section> 

 

    <script src="main.js"></script>

</body>
</html>